<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% else %>

<%= time_format(Time.parse(@created_at)) %>から現時点までの結果。(計<%= @sum %> tweets)
<br>
<%
  index = 0
  @user_hist.sort {|a,b| b[1] <=> a[1] }.each{|key, value|
%>
  <% tmp_hash = @user_prof[key] %>
  <img class="pointer" src="<%= tmp_hash['profile_image_url'] %>" onclick="$('.hide<%=index.to_s%>').toggle('fast');" width="48">&nbsp;<%= value %> tweets
  <br>
  <dt><%= key %>(<%= tmp_hash['name'] %>)</dt>
  <% @user_text[key].each do |text| %>
    <dd class="hide<%=index.to_s%>" style="display: none;background-color:<%= cycle("#FDF5E6","#AFEEEE") -%>;">
      <b>[<%= time_format(Time.parse(text[1])) %>]</b>&nbsp;<%= text[0] %>
    </dd>
  <% end %>
  <% reset_cycle %>
<%
    index += 1
  }
%>
<% end %>